<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все заказы</title>
</head>
<body>
<h1>Список всех заказов</h1>

{% if orders %}
    <ul>
        {% for order in orders %}
            <li>
                <strong>Заказ №{{ order.order_id }}</strong> — {{ order.first_name }} {{ order.last_name }}
                — {{ order.order_date }}
                <ul>
                    {% for item in order.items.all %}
                        <li>{{ item.quantity }} шт. — {{ item.product.name }} — {{ item.price }} руб. за шт.</li>
                    {% endfor %}
                </ul>
                <p><strong>Итого: {{ order.get_total_cost }} руб.</strong></p>
            </li>

        {% endfor %}
    </ul>
{% else %}
    <p>Заказов пока нет.</p>
{% endif %}

<a href="/">Вернуться на главную</a>
</body>
</html>
